<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Real Talk Roulette</h1>
    <div class="progress">
      <div id="Player 1" class="progress-bar player1"></div>
    </div>
    <div class="progress">
      <div id="Player 2" class="progress-bar player2"></div>
    </div>

    <button id="drawButton" class="button">DRAW</button>
    <div class="card-container">
      <div class="card" id="card">What's the real talk?</div>
    </div>

    <h2>Who won the point?</h2>
    <input type="radio" name="winner" value="Player 1" /> Player 1<br />
    <input type="radio" name="winner" value="Player 2" /> Player 2<br />
    <button id="enterButton" class="button">Enter</button>

    <div id="winner"></div>

    <script>
      document
        .getElementById("drawButton")
        .addEventListener("click", function () {
          fetch("/draw_card", { method: "POST" })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                document.getElementById("card").innerText = data.message;
              } else {
                document.getElementById("card").innerText = data.card;
              }
            });
        });

      document
        .getElementById("enterButton")
        .addEventListener("click", function () {
          const winner = document.querySelector(
            'input[name="winner"]:checked'
          ).value;
          fetch("/submit_winner", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ winner: winner }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.game_over) {
                document.getElementById(
                  "winner"
                ).innerHTML = `<h1 style="color: maroon;">${data.winner} wins!</h1>`;
                document.getElementById("drawButton").disabled = true;
                document.getElementById("enterButton").disabled = true;
              } else {
                const scores = data.scores;
                document.getElementById("Player 1").style.width =
                  (scores["Player 1"] / 3) * 100 + "%";
                document.getElementById("Player 2").style.width =
                  (scores["Player 2"] / 3) * 100 + "%";
              }
            });
        });
    </script>
  </body>
</html>
