<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Real Talk Roulette</h1>

    <div id="setup">
      <h2>Enter Player Names</h2>
      <input type="text" id="player1Name" placeholder="Player 1 Name" /><br />
      <input type="text" id="player2Name" placeholder="Player 2 Name" /><br />
      <button id="startButton" class="button">Start Game</button>
    </div>

    <div id="game" style="display: none">
      <div id="progressBars"></div>
      <button id="drawButton" class="button">DRAW</button>
      <div class="card-container">
        <div class="card" id="card">What's the real talk?</div>
      </div>

      <h2>Who won the point?</h2>
      <div id="radioButtons"></div>
      <button id="enterButton" class="button">Enter</button>

      <div id="winner"></div>
    </div>

    <script>
      let players = [];

      document
        .getElementById("startButton")
        .addEventListener("click", function () {
          let player1Name =
            document.getElementById("player1Name").value || "Player 1";
          let player2Name =
            document.getElementById("player2Name").value || "Player 2";
          players = [player1Name, player2Name];

          fetch("/start_game", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ players: players }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message === "Game started") {
                document.getElementById("setup").style.display = "none";
                document.getElementById("game").style.display = "block";
                initializeGameInterface(players);
              }
            });

          initializeGameInterface(players);
          document.getElementById("setup").style.display = "none";
          document.getElementById("game").style.display = "block";
        });

      function initializeGameInterface(players) {
        let progressBars = "";
        let radioButtons = "";
        players.forEach((player, index) => {
          progressBars += `<div class="progress"><div id="${player}" class="progress-bar ${
            index == 0 ? "player1" : "player2"
          }"></div></div>`;
          radioButtons += `<input type="radio" name="winner" value="${player}"> ${player}<br>`;
        });
        document.getElementById("progressBars").innerHTML = progressBars;
        document.getElementById("radioButtons").innerHTML = radioButtons;
      }

      document
        .getElementById("drawButton")
        .addEventListener("click", function () {
          fetch("/draw_card", { method: "POST" })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                document.getElementById("card").innerText = data.message;
              } else {
                document.getElementById("card").innerText = data.card;
              }
            });
        });

      document
        .getElementById("enterButton")
        .addEventListener("click", function () {
          const winner = document.querySelector(
            'input[name="winner"]:checked'
          ).value;
          fetch("/submit_winner", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ winner: winner }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.game_over) {
                document.getElementById(
                  "winner"
                ).innerHTML = `<h1 style="color: maroon;">${data.winner} wins!</h1>`;
                document.getElementById("drawButton").disabled = true;
                document.getElementById("enterButton").disabled = true;
              } else {
                const scores = data.scores;
                players.forEach((player) => {
                  document.getElementById(player).style.width =
                    (scores[player] / 3) * 100 + "%";
                });
              }
            });
        });
    </script>
  </body>
</html>
