<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Real Talk Roulette</h1>
    <button id="drawButton" class="button">DRAW</button>
    <div class="card-container">
      <div class="card" id="card">What's the real talk?</div>
    </div>

    <script>
      document
        .getElementById("drawButton")
        .addEventListener("click", function () {
          fetch("/draw_card", { method: "POST" })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                document.getElementById("card").innerText = data.message;
              } else {
                document.getElementById("card").innerText = data.card;
              }
            });
        });
    </script>
  </body>
</html>
