<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Game</title>
    <style>
      .button {
        margin: 10px 0;
        padding: 10px 20px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <h1>Card Game</h1>
    <button id="drawButton" class="button">DRAW</button>
    <div id="card"></div>

    <script>
      document
        .getElementById("drawButton")
        .addEventListener("click", function () {
          fetch("/draw_card", { method: "POST" })
            .then((response) => response.json())
            .then((data) => {
              if (data.message) {
                document.getElementById("card").innerText = data.message;
              } else {
                document.getElementById("card").innerText = data.card;
              }
            });
        });
    </script>
  </body>
</html>
